.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.gallery img{
    /* width: 400px;
    height: 300px; */
    border: 2px solid #000000;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #d5c6e9;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.gallery img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}